<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hauli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hauli.Properties.Settings.HauliDBConnectionString"
            connectionString="Data Source=|DataDirectory|\HauliDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Hauli.Properties.Settings>
            <setting name="DBpath" serializeAs="String">
                <value>HauliDB.sdf</value>
            </setting>
        </Hauli.Properties.Settings>
    </userSettings>
</configuration>
